
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 2, 37, 0.96);
  font-family: Arial, sans-serif;
  color: white;
    font-size: 30px;
}


.monitor {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  width: 70vw;
  height: 90vh;
  background: #2A2E37;
}

#diagnosis-button, #home-button{
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  background-color: #1a6203;
  color: white;
    border: solid white;
    border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
}


.brand-info,
.climate-control,
.music-player {
  font-size: 20px;
}


.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.car-image {
  flex-basis: 40%;
  background: url('TopView.jpg') no-repeat center center;
  background-size: cover;
}

.divider {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.96);
  margin: 40px;
}

.dashboard {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background: #2A2E37;
  height: 95%;
}
.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
    margin-top: 10px;
}

.brand-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.time {
  font-size: 1.5em;
  padding: 0 20px;
  white-space: nowrap;
}


.climate-control {
  display: flex;
  flex-direction: column;
    margin-left: 20px;
    margin-right: 70px;
  font-size: 25px;
}

.temperature-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.temperatures {
  display: flex;
}

.temperature {
  text-align: center;
  margin-right: 20px;
}

.temperature .value {
  font-size: 2em;
  display: block;
}

.temperature label {
  display: block;
  font-size: 0.75em;
}

.controls {
  display: flex;
  align-items: center;
  border: 2px solid white;
  border-radius: 10px;
  overflow: hidden;
}

.controls button {
  background: none;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  flex: 1;
}

.progress-container {
  display: flex;
  align-items: center;
}

.progress-time {
  color: white;
  font-size: 0.75em;
}

.progress-bar {
  flex-grow: 1;
  height: 4px;
  background: #404040;
  margin: 0 8px;
  position: relative;
  border-radius: 2px;
}

.progress {
  background: #ffffff;
  height: 100%;
  border-radius: 2px;
  width: 50%;
  position: absolute;
}

.progress-knob {
  background: #ffffff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.music-controls{
    margin-left: 150px;
}

.music-controls button {
  background-color: #2A2E37;
  color: #e6e6e6;
  border: solid #e6e6e6;
  padding: 2%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  left: 20%;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  position: relative;
}


.car-image {
  position: relative;
}

.tire-label {
  position: absolute;
  background-color: transparent;
  color: #2a2e37;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.tyre{
  background-color: #1a6203;
  opacity: 80%;
  border-radius: 10px;
  width: 10%;
  height: 13%;
  position: absolute;
}

.brakes{
  background-color: #1f6209;
  opacity: 80%;
  border-radius: 2px;
  width: 2%;
  height: 6%;
  position: absolute;
}

.front-left {
  font-size: large;
  top: 20%;
  left: 5%;
}

.fl-tyre{
  top: 18%;
  left: 25%;
}

.fl-brakes{
  top: 21.5%;
  left: 32%;
}

.front-right {
  font-size: large;
  top: 20%;
  right: 5%;
}

.fr-tyre{
  top: 18%;
  right: 25%;
}

.fr-brakes{
  top: 21.5%;
  right: 32%;
}

.rear-left {
  font-size: large;
  bottom: 20%;
  left: 5%;
}

.rl-tyre{
  bottom: 18%;
  left: 25%;
}

.rl-brakes{
  bottom: 21.5%;
  left: 32%;
}

.rear-right {
  font-size: large;
  bottom: 20%;
  right: 5%;
}

.rr-tyre{
  bottom: 18%;
  right: 25%;
}

.rr-brakes{
  bottom: 21.5%;
  right: 32%;
}

.driveshaft{
  background-color: #1a6203;
  opacity: 80%;
  border-radius: 2px;
  width: 5%;
  height: 45%;
  position: absolute;
  bottom: 27%;
  right: 47.5%;
}

.front-axel{
  background-color: #1a6203;
  opacity: 80%;
  border-radius: 2px;
  width: 27.5%;
  height: 2.5%;
  position: absolute;
  top: 23.5%;
  right: 36.2%;
}

.rear-axel{
  background-color: #1a6203;
  opacity: 80%;
  border-radius: 2px;
  width: 27.5%;
  height: 2.5%;
  position: absolute;
  bottom: 23.5%;
  right: 36.2%;
}

.battery{
  background-color: #1a6203;
  opacity: 80%;
  border-radius: 2px;
  width: 6%;
  height: 8%;
  position: absolute;
  top: 15%;
  left: 36%;
}

.radiator{
  background-color: #1a6203;
  opacity: 80%;
  border-radius: 2px;
  width: 20%;
  height: 4%;
  position: absolute;
  top: 10%;
  left: 40%;
}

.engine{
  background-color: #1a6203;
  opacity: 80%;
  border-radius: 2px;
  width: 20%;
  height: 8%;
  position: absolute;
  top: 15%;
  left: 43%;
}

.vehicle-faults{
  height: 25%;
  max-height: 30%;
}

.faults{
  color: red;
  font-size: calc(15px + 0.390625vw);
  animation: flash 4s infinite;
}

@keyframes flash {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}

.sensors-panel {
  position: absolute;
  top: 15%;
  right: 2.5%;
  bottom: 10%;
  width: 20%;
  height: 70%;
  background-color: #2a2e37;
  color: #000000;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 30px;
}

.sensor-btn {
  height: 7.5%;
  border-radius: 10px;
  border-width: medium;
  border-style: solid;
  border-color: #e6e6e6;
  background-color: #2a2e37;
  margin: 2%;
  color: #e6e6e6;
}


.temperature-gauge {
  width: 100%;
  background: #e6e6e6;
  border-radius: 5px;
  position: relative;
  height: 3%;
  margin: 1% 0;
}

.temperature-gauge-indicator {
  width: 45%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-image: linear-gradient(to right, #4141d9, green);
  border-radius: 5px;
  transition: width 2s ease-in-out;
}

.temperature-gauge-indicator.overheat {
  background: #e01506;
}


.fluid-gauges {
}

.fluid-gauge {
  width: 100%;
  background: #e6e6e6;
  border-radius: 5px;
  position: relative;
  height: 20px;
  margin: 5% 0;
}

.fluid-gauge span {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
}

.fluid-level {
  width: 70%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #008000;
  border-radius: 5px;
  transition: width 2s ease-in-out;
}



